body{
    display: flex;
    color: white;
}

.feed-container {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    width: 100%;
}


.feed-main {
    width: 100%;
    border-right: 1px solid #51515180;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.feed-tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #51515180;
    padding: 10px 0;

}

.tab {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    color: #536471;
}

.tab.active {
    color: #1DA1F2;
    border-bottom: 3px solid #1DA1F2;
}

.feed-post-box {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #51515180;
}

.profile-picture {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-content {
    flex: 1;
}

.post-input {
    border: none;
    outline: none;
    padding: 10px 0;
    width: 100%;
    background: transparent;
    font-size: 20px;
    color: white;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.add-media {
    color: #1DA1F2;
    cursor: pointer;
}

.post-button {
    background-color: #1DA1F2;
    color: white;
    padding: 8px 20px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: bold;
}

.feed-sidebar {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trending, .suggestions {
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    height: 40%;
    border: 1px solid #51515180;
}

.search-bar {
    border: 1px solid #51515180;
    padding: 10px 15px;
    border-radius: 9999px;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 15px;
    color: white;
}

