body {
    display: flex;
    color: white;
}

.feed-container {
    display: flex;
    justify-content: space-between;
    background-color: #0d1117;
    color: white;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    width: 100%;
    font-size: 1.2rem;
}

.feed-main {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.feed-tabs {
    position: sticky;
    top: 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #51515180;
    background: rgba(13, 17, 23, 0.29);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.feed-tabs .tab {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    background-color: transparent;
    font-weight: bold;
    color: white;
}

.feed-tabs .tab.active {
    border-bottom: 2px solid #58a6ff;
    }

.feed-post-box {
    display: flex;
    gap: 15px;
    border-radius: 10px;
    padding: 15px;
    border-bottom: 1px solid #51515180;
}

/* === STYLE POST & COMMENTARY === */

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    flex-shrink: 0;
    margin-right: 15px;
}

.post-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.post-input {
    width: 100%;
    min-height: 80px;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: #0d1117;
    color: white;
    resize: none;
    outline: none;
    font-size: 20px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.add-media {
    color: #1DA1F2;
    cursor: pointer;
}

.post-button {
    background-color: #1DA1F2;
    color: white;
    padding: 8px 20px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    transition: background-color 0.2s ease;
    width: 12rem;
}

.post-button:hover {
    background-color: #177ab6;
}

.post {
    padding: 15px;
    border: 1px solid #51515180;
}

.comment {
    background-color: #1c2128;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-left: 3px solid #58a6ff;
}

.close_icon{
    width: 50px !important;
}

.reload-feed-btn{
    all: unset;
    display: flow;
    width: 100%;
    text-align: center;
    height: 10svh;
    font-size: 1.5rem;
    color: #0d8ddb;
    transition: background-color 0.3s ease;
}

.reload-feed-btn:hover {
    background-color: #11161e;
}
