/* Structure de la navbar */
.navbar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgba(81, 81, 81, 0.5);
    transition: border-color 0.3s;
    align-content: flex-start;
    padding: 4rem;
}

/* Liste verticale centrée */
.navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

/* Chaque élément */
.navbar-item {
    width: 100%;
    text-align: center;
}

/* Lien stylé */
.navbar-link {
    display: block;
    width: 100%;
    padding: 1rem 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 1s, border-color 1s;
}

/* Logo */
.navbar-item img {
    width: 50px;
    height: auto;
    margin-bottom: 2rem;
}

.navbar-logo {
    margin-bottom: 2rem !important;
    width: 100px !important;
}

.navbar-link {
    color: white;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #1DA1F2;
}

.navbar-icon {
    width: 70px;
    height: 70px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: fill 1s ease, stroke 1s ease; /* Ajout de la transition */
}

.navbar-link:hover .navbar-icon {
    fill: currentColor; /* Remplissage avec la couleur actuelle au hover */
    stroke: currentColor; /* Conserver la bordure */
}

.gear-svg {
    cursor: pointer;
    transition: all 0.3s ease;
}

.gear-circle {
    transition: stroke 0.3s ease;
}

.gear-path {
    transition: stroke 0.3s ease, fill 0.3s ease;
}

/* Hover */
.gear-svg:hover .gear-circle {
    stroke: #1DA1F2; /* bordure cercle change */
}

.gear-svg:hover .gear-path {
    stroke: #1DA1F2; /* bordure gear change */
    fill: #1DA1F2;   /* intérieur gear change */
}

/* Pour que le cercle intérieur reste transparent inside au hover, on ne met pas de fill sur circle */

